.profile__editButton {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: transparent url(../../../images/Vector.png) no-repeat;
  background-position: center;
  align-self: center;
  padding: 0;
}

.profile__editButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1275px) {
  .profile__editButton {
    width: 18px;
    height: 18px;
  }
}